*.pyc

misc
:/Users/jason/1161/course
week8/exercise1.py
pandas
:/Users/jason/1161/OpenDataProject/pandas
:/Users/jason/1161/OpenDataProject/basic_pandas.ipynb
:/Users/jason/1161/OpenDataProject/dataproject.ipynb
:/Users/jason/1161/OpenDataProject/earnings.csv
:/Users/jason/1161/OpenDataProject/data/LABOUR_PRICE_INDEX_08082020194218144.csv
:/Users/jason/1161/OpenDataProject/data/RES_PROP_INDEX_08082020193735168.csv
:/Users/jason/1161/OpenDataProject/test_pandas.ipynb
:/Users/jason/1161/OpenDataProject/Untitled.ipynb
:/Users/jason/1161/OpenDataProject/data/title.basics.tsv.gz
:/Users/jason/1161/OpenDataProject/data/title.crew.tsv.gz
:/Users/jason/1161/OpenDataProject/data/title.episode.tsv.gz
:/Users/jason/1161/OpenDataProject/data/title.principals.tsv.gz
:/Users/jason/1161/OpenDataProject/data/title.ratings.tsv.gz
:/Users/jason/1161/OpenDataProject/graphs